@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    font-family: Montserrat;
    font-weight: bold;
}
body{
    background-image: url(../img/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
 
    
}

.judul{
    text-align: center;
    padding-top: 50px;
    color: white;
}

.judul img{
    width: 150px;
}

.judul h2{
    padding-top: 50px;
  padding-left: 10px;
}

h3{
    font-style: italic;
    text-align: center;
    padding-top: 50px;
}
img{
    border-radius: 20px;
}

.thumbnail{
    text-align: center;
    padding-top: 100px;   
    
}

.people{
    width: 250px;
    height: 250px;
}

.label{
    width: 100px;
    height: 30px;
}

p{
    
    font-size: 20px;
    color: white;
   color: black;
    text-align: center;
    background: white;
    border-radius: 10px;
   
  
    
    
}

.footer{
    justify-items: center;
    color: white;
}

