body{
    background-image: url(../img/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
 
    
}
.thumbnail{
    text-align: center;
    padding-top: 100px;   
    
}

.nama{
    padding-top: 50px;
    width: 100px;
    height:150px;
}