body{
    background-image: url(../img/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
   
    
}





.container{
    color: white;
   padding-top: 170px;
   
   
}

h3{
    text-align: center;
    padding-bottom: 50px;
}

p{
    border: 1px solid black;
    padding: 20px ;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
   
}
