body{
    background-image: url(../img/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
   
    
}

.judul{
    text-align: center;
    color: white;
}

.judul img{
    width: 110px;
}

.judul h1{
    padding-top: 20px;
  padding-left: 3px;
}




.container{
    color: white;
   padding-top: 170px;
   
   
}



p{
    border: 1px solid black;
    padding: 20px ;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
   
}
